a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    background: radial-gradient( gold, goldenrod,  bisque);
    background-attachment: fixed;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    border-radius: 16px;
    background-color: darkgrey; 
    margin: 0%;
    padding: 2%;
    width: 100%;
}
.head{
    background-color: blueviolet;
    margin-right: 15%;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    padding:2%;
    color: gold;
}
.logo{
    margin-left: 1%;
    width:20%; 
    height:20%;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    padding-left: 4%;
    font-size: 140%;
    border-radius: 16px;
    background-color: darkgrey;
    font-style: oblique;
}
.href{
    padding: 2%;
    margin-top: 2%;
    width: 100%;
    background-color: darkgrey;
    border-radius: 16px;
    font-size: 100%;
}
#butch-img{
    width: 80%;
    height: 80%;
}
#navigationPicture{
    width: 60%;
    height: 60%;
}
.forms{
    order: 1;
    width: 100%;
    margin-top: 2%;
    padding: 2%;
    background-color: darkgrey;
    border-radius: 16px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 4%;
    font-size: 120%;
}
input{
    border: 4px groove antiquewhite;
    padding: 1%;
    font-size: 100%;
}
select{
    border: 4px groove antiquewhite;
    font-size: 100%;
}
textarea{
    border: 4px groove antiquewhite;
    padding: 1%;
    font-size: 100%;
}
.table{
    order: 2;
    width: 100%;
    margin-top: 2%;
    padding: 2%;
    padding-bottom: 4%;
    background-color: darkgrey;
    border-radius: 16px;
}
table{
    border: 4px groove darkmagenta;
    border-radius: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
td{
    padding: 1%;
}
th{
    padding: 1%;
}
table tr:nth-child(even) {
    background-color: yellow;
}
table tr:nth-child(odd) {
    background-color: purple;
}
h2{
    font-size: 135%;
    color: gold;
    font-style: italic;
    padding-left: 4%;
}
img{
    border-radius: 16px;
}
footer{
    width: 100%;
    padding: 2%;
    margin-top: 2%;
    background-color: darkgrey;
    border-radius: 16px;
    font-size: 150%;
}
@media screen and (min-width: 760px) {
    header{
        justify-content: center;
        padding: 1%;
        max-height: 6rem;
    }
    .head{
        margin: 5%;
        padding: 1%;
        margin-right: 10%;
    }
    .logo{
        margin-right: 1%;
        width:100px; 
        height:100px;
        float: left;
    }
    .content-wrapper{
        display: block;
    }
    nav{
        flex-direction: row;
        justify-content: space-between;        
        max-width: 320px;
        margin: auto;
        margin-top: 20px;
        padding: 1%;
    }
    .href{
        font-size: 110%;
        max-width: 960px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
    }
    .table{
        max-width: 960px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
    }
    table{
        margin-top: 1%;
        margin-bottom: 1%;
        width: 100%;
        max-width: 960px;
    }
    .forms{
        max-width: 960px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
    }
    form{
        display: block;
        max-width: 960px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
    }
    input{
        padding: 1%;
    }
    footer{
        margin: 10px;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
    }
    h2{
        font-size: 140%;
        max-width: 960px;
    }
}